nav.menu{
    
}
nav.menu ul{
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    gap: 10px;
}
nav.menu ul li{

}
nav.menu ul li a{
    text-decoration: none;
    color: #000;
    background-color: #87e5ff;
    padding: 5px 10px;
    border-radius: 4px;
    transition: 0.3s;
}
nav.menu ul li a:hover{
    color: #ffffff;
    background-color: #205d6e;
    
}


.logo-container .logo-img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 20px auto;
}

table.show{
    border: 1px solid #ddd;
    margin-left: auto;
    margin-right: auto;
    margin-top:20px;
    border-collapse: collapse;
}

table.show th{
    width: 12.5%;
    text-align: center;
    padding: 8px;
    color: #fff;
    background-color: #0a0a0a;
    border: 1px solid #ddd;
}

table.show td{
    padding: 8px;
    text-align: center;
    border: 1px solid #ddd;
}
table.show img{
    width : 100px;
}
table.show a{
    text-decoration: none;
    color: #000;
}
table.show .delete{
    color: red; 


    
}
table.show .edit{
    color: green;
}


table.form{
    width: 300px;
    margin: 30px auto;
    background-color: #000;
    border-radius:15px;
    padding: 15px;
    color: #fff;
}
table.form label{
    display: block;
    margin-bottom: 5px;
    padding : 5px 5px;
    font-size: 14px;

}
table.form input{
    width: 100%;
    padding: 5px;
    margin: 5px 0;
    border: none;
    border-radius: 5px;
    background-color: #ffffff;
}
table.form input[type="submit"]{
    background-color: #0a0a0a;
    color: #fff;

}
table.form textarea{
    width: 100%;
    padding: 5px;
    margin: 5px 0;
    border-radius: 5px;
    background-color: #ffffff;
}
div.labile-text{
    text-align: center;
    margin: 20px 0;
}
nav.labile-text ul{
    list-style: none;
    padding: 0;
    width: 100%;
}

.container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.container .item{
    width: 260px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    /* position: relative; */

 
}
.container .item img{
    width: 240px;
    height: 240px;
    margin: 10px auto;
    display: block;
}
.container .item h2{
    text-align:right;
    margin: 10px;
    font-size: 18px;
    
}
.container .item p.desc{
    text-align:right;
    font-size: 14px;
    margin: 10px;
    color: #000000;
}
.container .item p.price{
    text-align:right;
    font-weight: bold;
    margin: 10px;
    color: #e20f0f;
    padding: 5px;  
    /* position: absolute;
    top: 15px;
    left: 15px;
    background: rgba(255, 255, 255, 0.7);
    padding: 15px;
    border-radius: 50%;
    border: solid black thin; */
}
.container .item a{
    background-color: #0a0a0a;
    text-align: center;
    border-radius: 5px;
    color: #ffffff;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    margin-top: 10px;
    font-size: 14px;
    margin: 10px;

}
