.logo-container .logo-img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 20px auto;
}

table.show{
    border: 1px solid #ddd;
    margin-left: auto;
    margin-right: auto;
    margin-top:20px;
}

table.show th{
    padding: 5px;
    color: #fff;
    background-color: #0a0a0a;
}

table.show td{
    padding: 20px;
    text-align: center;
}
table.show img{
    width : 100px;
}
table.show a{
    text-decoration: none;
    color: #000;
}
table.show .delete{
    color: red; 


    
}
table.show .edit{
    color: green;
}


table.form{
    width: 300px;
    margin: 30px auto;
    background-color: #000;
    border-radius:15px;
    padding: 15px;
    color: #fff;
}
table.form label{
    display: block;
    margin-bottom: 5px;
    padding : 5px 5px;
    font-size: 14px;

}
table.form input{
    width: 100%;
    padding: 5px;
    margin: 5px 0;
    border: none;
    border-radius: 5px;
    background-color: #ffffff;
}
table.form input[type="submit"]{
    background-color: #0a0a0a;
    color: #fff;

}
table.form textarea{
    width: 100%;
    padding: 5px;
    margin: 5px 0;
    border-radius: 5px;
    background-color: #ffffff;
}
div.labile-text{
    text-align: center;
    margin: 20px 0;
}
nav.labile-text ul{
    list-style: none;
    padding: 0;
    width: 100%;
}

.container{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.container .item{

}
.container .item img{
    width: 120px;
}
.container .item h2{
    
}
.container .item p.desc{

}
.container .item p.price{

}
.container .item a{

}
